
.backgroundButton div{
    display: inline-block;
}

.greenBackground, .redBackground, .blueBackground, .brownBackground {
    color: white;
    font-weight: bold;
}
.greenBackground {
    background-color: green;
}
.redBackground {
    background-color: red;
}
.blueBackground {
    background-color: blue;
}
.brownBackground {
    background-color: saddlebrown;
}

.normalSurface {
  z-index: 10;
}
.activeSurface {
  z-index: 20;
}
.activeBackground {
  z-index: 15;
}