
.backgroundButton div{
  display: inline-block;
  width: 50%;
}


.greenBackground, .redBackground, .blueBackground, .brownBackground {
    color: white;
    font-weight: bold;
}
.greenBackground {
    background-color: green;
}
.redBackground {
    background-color: red;
}
.blueBackground {
    background-color: blue;
}
.brownBackground {
    background-color: saddlebrown;
}

.normalSurface {
  z-index: 10;
}
.activeSurface {
  z-index: 20;
}
.activeBackground {
  z-index: 15;
    color: white;
    font-weight: bold;
}
.activeBackground .greenButton{
  background-color: green;
}
.activeBackground .blueButton{
  background-color: blue;
}
.activeBackground .redButton{
  background-color: red;
}
.activeBackground .brownButton{
  background-color: saddlebrown;
}