.bubble {
    width: 80px;
    margin-top: 16px; /* 10 px for the pointer, 6 extra px for spacing */
    padding: 6px;
    position: relative;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.bubble:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 36px;
    border-bottom: 10px solid transparent;
    border-bottom-color: inherit;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}